body {
    margin-top: 5%;
    background-image: URL("../img/background.jpg");
}

.card {
    padding-top: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    background-image: radial-gradient(#797474 white);
}

.lblTitulo {
    font-weight: bold;
}

.row {
    margin-bottom: 2%;
    width: 100%;
}

@media (max-width: 575px) {  
    body {
        margin-top: 0;
    }

    .card {     
        width: 100%;
		margin-bottom: 0%;
    }

    .col {     
        flex: auto;
    }
}